<!-------------------------------NAVBAR START-------------------------->
<app-navbar></app-navbar>
<!-------------------------------NAVBAR END-------------------------->
<!-------------------------------HEADER SECTION-------------------------->
<section class="header-section" id="head-sec">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/images/digital-agency-slider-1.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption head-content-base">
            <h1 class="text-capitalize mb-4">drive your<br> transformation<br> with us</h1>
            <!-- <p>We had such a great time in LA!</p> -->
            <a href="#serv-sec" class="content-base-btn diff-color">READ MORE</a>
            <a href="nodeindexcontactform/contactform.html" class="content-base-btn ml-lg-5">CONTACT US</a>
        </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/images/digital-agency-slider-2.jpg" alt="Random second slide">
          </div>
          <div class="carousel-caption head-content-base">
            <h1 class="text-capitalize mb-5 margin-bott-text">we turn your<br>ideas into reality</h1>
            <!-- <p>We had such a great time in LA!</p> -->
            <a href="#serv-sec" class="content-base-btn diff-color">READ MORE</a>
            <a href="nodeindexcontactform/contactform.html" class="content-base-btn ml-lg-5">CONTACT US</a>
        </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/images/digital-agency-slider-3.jpg" alt="Random third slide">
          </div>
          <div class="carousel-caption head-content-base">
            <h1 class="text-capitalize mb-4">Let us <br>Build your <br>Career Together</h1>
            <!-- <p>We had such a great time in LA!</p> -->
            <a href="#serv-sec" class="content-base-btn diff-color">READ MORE</a>
            <a href="nodeindexcontactform/contactform.html" class="content-base-btn ml-lg-5">CONTACT US</a>
        </div>
        </ng-template>
      </ngb-carousel>
</section>
<!-------------------------------HEADER ENDS-------------------------->
<!-------------------------------SERVICES START-------------------------->
<section class="services-section" id="serv-sec">
	<div class="container">
		<div class="text-center py-5"><h1 class="font-weight-bold" style="color: rgba(63,81,181,1);letter-spacing: 3px;">Our Services</h1></div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-12">
				<div>
					<a href="consortium.html">
						<img class="card-serv translate-up" src="../../assets/images/consortiumlogo.jpeg" alt="Card image" style="width:100%;"></a>
					</div>
				</div>
			<div class="col-lg-4 col-md-4 col-12">
			 <div class=" card-top">
					<a href="acadamy.html">
						<img class="card-serv" src="../../assets/images/academylogo.jpeg" alt="Card image" style="width:100%"></a>
					</div>
				</div>
			 <div class="col-lg-4 col-md-4 col-12">
				<div class=" card-top">
					<a href="products.html">
						<img class="card-serv translate-up" src="../../assets/images/productslogo.jpeg" alt="Card image" style="width:100%"></a>
					</div>
				</div>
		</div>
	</div>
</section>
<!-------------------------------SERVICES END-------------------------->
<!-------------------------------CERTIFICATION START-------------------------->
<section class="certificate-section">
	<div class="container">
		<div class="text-center py-5"><h1 class="font-weight-bold" style="color: rgba(63,81,181,1);letter-spacing: 3px;">Our Certifications</h1></div>
		<div class="row pb-5">
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate13.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert13.jpg" alt="Card image" style="width:100%"></a>
					</div>
			</div>
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate15.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert15.jpg" alt="Card image" style="width:100%"></a>
					</div>
			</div>
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate17.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert17.jpg"alt="Card image" style="width:100%"></a>
					</div>
			</div>
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate18.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert18.jpg" alt="Card image" style="width:100%"></a>
					</div>
			</div>
		</div>
	</div>
</section>
<!-------------------------------CERTIFICATION END-------------------------->
<!-------------------------------MEMBERS OFF START-------------------------->
<section class="partner-section">
	<div class="jumbotron jumb-intro bg-transparent mb-0">
		<div class="text-center pb-5"><h1 class="font-weight-bold" style="color: rgba(63,81,181,1);letter-spacing: 3px;">Member Of</h1>
		</div>
	<div class="row">
		<div class="col-lg-3 col-md-6 col-6">
			<div class="card-cert">
			<a href="https://nasscomfoundation.org/">
			<img src="../../assets/images/nasscomlogo.png" width="100%" style="padding: 10px;"></a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-6">
			<div class="card-cert">
			<a href="https://hyderabad.tie.org/">
			<img src="../../assets/images/tielogo.png" width="100%" style="padding: 10px;"></a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-6">
			<div class="card-cert">
			<a href="https://www.startupindia.gov.in/">
			<img src="../../assets/images/startup.png" width="100%" style="padding: 10px;"></a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-6">
			<div class="card-cert">
			<a href="https://skillindia.nsdcindia.org/">
			<img src="../../assets/images/skillindia.jpg" width="100%" style="padding: 10px;"></a>
			</div>
		</div>
	</div>
	</div>
</section>
<!-------------------------------PARTNERS END-------------------------->
<!-------------------------------FOOTER START-------------------------->
<app-footer></app-footer>
<!-------------------------------FOOTER END-------------------------->

