<!-------------------------------NAVBAR START-------------------------->
<app-navbar></app-navbar>
<!-------------------------------NAVBAR END-------------------------->
<!-------------------------------HEADER SECTION-------------------------->
<section class="header-section" id="head-sec">
<section class="header-section" id="head-sec">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/images/digital-agency-slider-1.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/images/digital-agency-slider-2.jpg" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/images/digital-agency-slider-3.jpg" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
</section>
<!-------------------------------HEADER ENDS-------------------------->
<!-------------------------------SERVICES START-------------------------->
<section class="services-section" id="serv-sec">
	<div class="container">
		<div class="text-center py-5"><h1 class="font-weight-bold" style="color: rgba(63,81,181,1);letter-spacing: 3px;">Our Services</h1></div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-12">
				<div>
					<a href="consortium.html">
						<img class="card-serv translate-up" src="../../assets/images/consortiumlogo.jpeg" alt="Card image" style="width:100%;"></a>
					</div>
				</div>
			<div class="col-lg-4 col-md-4 col-12">
			 <div class=" card-top">
					<a href="acadamy.html">
						<img class="card-serv" src="../../assets/images/academylogo.jpeg" alt="Card image" style="width:100%"></a>
					</div>
				</div>
			 <div class="col-lg-4 col-md-4 col-12">
				<div class=" card-top">
					<a href="products.html">
						<img class="card-serv translate-up" src="../../assets/images/productslogo.jpeg" alt="Card image" style="width:100%"></a>
					</div>
				</div>
		</div>
	</div>
</section>
<!-------------------------------SERVICES END-------------------------->
<!-------------------------------CERTIFICATION START-------------------------->
<section class="certificate-section">
	<div class="container">
		<div class="text-center py-5"><h1 class="font-weight-bold" style="color: rgba(63,81,181,1);letter-spacing: 3px;">Our Certifications</h1></div>
		<div class="row pb-5">
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate13.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert13.jpg" alt="Card image" style="width:100%"></a>
					</div>
			</div>
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate15.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert15.jpg" alt="Card image" style="width:100%"></a>
					</div>
			</div>
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate17.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert17.jpg"alt="Card image" style="width:100%"></a>
					</div>
			</div>
			<div class="col-lg-3 col-md-6 col-6">
				<div class="card-cert">
					<a href="../../assets/images/certificate18.jpg"data-lightbox="image-1">
						<img class="card-img-top" src="../../assets/images/images/cert18.jpg" alt="Card image" style="width:100%"></a>
					</div>
			</div>
		</div>
	</div>
</section>
<!-------------------------------CERTIFICATION END-------------------------->
<!-------------------------------FOOTER START-------------------------->
<app-footer></app-footer>
<!-------------------------------FOOTER END-------------------------->

