<app-navbar></app-navbar>
<section>
	<div class="bg-image-overlay">
		<h1 class="text-center about-position">About Us</h1>
	</div>
</section>
<section>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-12">
				<div><img src="/assets/img/team-work.jpeg" class="img-fluid"></div>
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<h2 class="text-uppercase py-3 font-weight-bold">we are Caramel IT Services</h2><hr>
				<h5 class="py-3">Caramel IT Services is a team of experts bringing you innovative web and IT solutions that combine captivating design and flawless functionality in our every project.</h5>
				<p>We operate on a managed services model that offers proactive outsourced IT services aswell as design, development, and management services at affordable, consistent rates.</p>
			</div>
		</div>
	</div>
</section>
<section class="icon-sec">
	<div class="jumbotron bg-light">
		<div class="container">
		<div class="row d-flex justify-content-end">
			<div class="col-lg-3 col-md-6 col-12 hover-effect">
			<img src="/assets/img/like.png"  class="py-3 align-middle">
			<h4>Individual Approach</h4>
			<p>Unlike many other companies, we use an individual approach to each client and we never offer you a set of standard decisions for your business.</p>	
			</div>
			<div class="col-lg-3 col-md-6 col-12 hover-effect">
				<img src="/assets/img/man.png" class="py-3">
				<h4>Qualified Employers</h4>
			<p>Caramel is a team of dedicated and qualified designers, developers, marketing experts and managers who are ready to work for a personalized web solution.</p>
			</div>
			<div class="col-lg-3 col-md-6 col-12 hover-effect">
				<img src="/assets/img/support.png"  class="py-3">
				<h4>24/7 Online Support</h4>
			<p>Our online support is available 24 hours a day to answer your every question and help you solve any issue you may have with our porducts and services.</p>
			</div>
			<div class="col-lg-3 col-md-6 col-12 hover-effect">
				<img src="/assets/img/payment.png"  class="py-3">
				<h5>Various Payment Methods</h5>
			<p>We provide a variety of payment methods that include Paypal, Visa/Mastercard/American Express and lots of others, which can be customized.</p>
			</div>
		</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-12">
				<div class="card-profile">
					<img src="/assets/img/ceo.jpeg" alt="John" style="width:100%">
					<h3 class="pt-2">Kishore Kumar</h3>
					<p class="title-person">CEO & Founder, Caramel IT Services</p>
					<p></p>
					<div style="margin: 24px 0;" class="link-social">
						<a href="#"><i class="fa fa-instagram pl-2"></i></a> 
						<a href="#"><i class="fa fa-twitter pl-2"></i></a>  
						<a href="#"><i class="fa fa-linkedin pl-2"></i></a>  
						<a href="#"><i class="fa fa-facebook pl-2"></i></a> 
					</div>
					<p><button class="button-class">Contact</button></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="card-profile">
					<img src="/assets/img/hr.jpeg" alt="John" style="width:100%;height: 50%">
					<h3 class="pt-2">Suchitra Kumar</h3>
					<p class="title-person">HR,Caramel IT Services</p>
					<p></p>
					<div style="margin: 24px 0;" class="link-social">
						<a href="#"><i class="fa fa-instagram pl-2"></i></a> 
						<a href="#"><i class="fa fa-twitter pl-2"></i></a>  
						<a href="#"><i class="fa fa-linkedin pl-2"></i></a>  
						<a href="#"><i class="fa fa-facebook pl-2"></i></a> 
					</div>
					<p><button class="button-class">Contact</button></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="card-profile">
					<img src="/assets/img/manager.jpeg" alt="John" style="width:100%">
					<h3 class="pt-2">Krishna Murthy</h3>
					<p class="title-person">Manager, Caramel IT Services</p>
					<p></p>
					<div style="margin: 24px 0;" class="link-social">
						<a href="#"><i class="fa fa-instagram pl-2"></i></a> 
						<a href="#"><i class="fa fa-twitter pl-2"></i></a>  
						<a href="#"><i class="fa fa-linkedin pl-2"></i></a>  
						<a href="#"><i class="fa fa-facebook pl-2"></i></a> 
					</div>
					<p><button class="button-class">Contact</button></p>
				</div>
			</div>
		</div>
	</div>	
</section>
<section>
	<div class="jumbotron bg-dark text-white">
		<h1 class="py-5">Our History</h1>
		<p>What started as a small team of web design enthusiasts eventually became a huge project evolving lots of experts in IT consulting, UX, design, and web development and programming from all over the world. Here’s the story of us and our company.</p>
	</div>
</section>

<app-footer></app-footer>
