<app-navbar></app-navbar>
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-1">

			</div>
			<div class="col-lg contact">
				<h1 id="cname">Caramel IT Services</h1>
				<h1 id="coname" style="text-align: center;">Contact Us</h1>
				<div class="row" class="contact5">
					<div class="col-lg" >
					<div id="first2" >
						<form name="frm" action="#"  method="post">
                        <div  class="form-group">
                            <label for="fullname" name="fname">Full Name:</label>
                           	<input type="text" class="form-control bg bg-light" id="fname" name="email" required/>
                            <i id="fname error"></i>
                        </div>
                        <div  class="form-group">
                            <label for="fullname">Email:</label>
                            <input type="text"  class="form-control bg bg-light" id="email" name="email" required/>
                            <i id="emailerror"></i>
                        </div>
                        <div  class="form-group">
                            <label for="fullname">Phone Number:</label>
                            <input type="text"  class="form-control bg bg-light" id="phone" name="phone" required/>
                            <i id="phoneerror"></i>
                        </div>
                        <div class="form-group">
                        	<label>Zipcode/Pincode:</label>
                        	<input type="text" class="form-control bg bg-light" name="pincode">
                        </div>
				<div class="form-group">
					<div class="form-group">
                        	<label >Budget:</label>
                        	<select class="form-control bg bg-light">
                        		<option>25000 - 50000</option>
                        		<option>50000 - 100000</option>
                        		<option>100000 - 150000</option>
                        		<option>150000 - 200000</option>
                        		<option>200000 - 250000</option>
                        		<option>250000 - 300000</option>
                        		<option>>300000</option>
                        	</select>
                        </div>
                        <div class="form-group">
                        	<label>Service:</label>
                        	<select  class="form-control bg bg-light">
                        		<option>Mobile App</option>
                        		<option>Wed Development</option>
                        		<option>Digital Marketing</option>
                        		<option>DevOps</option>
                        		<option>Python Development</option>
                        	</select>
                        </div>
                        <div class="form-group">
                        	<label>Country:</label>
                        	<select class="form-control bg bg-light">
                        		<option>INDIA</option>
                        		<option>U.S.A</option>
                        		<option>UK</option>
                        		<option>AUSTRALIA</option>
                        		<option>GERMANY</option>
                        	</select>
                        </div>
                   <!--      <div class="form-group">
                            <label for="fullname">Interested Course:</label>
                            <select class="form-control bg bg-light" id="s1">
                                <option>Full Stack Development</option>
                                <option>Data Science</option>
                                <option>Big Data</option>
                                <option>Devops</option>
                                <option>Digital Marketing</option>
                                <option>IoT</option>
                                <option>Python</option>
                                <option>Blockchain</option>
                                <option>Game Development</option>
                                <option>AWS</option>
                                <option>Data Analysis</option>
                                <option>Service Now</option>
                                <option>Azure</option>
                                <option>Angular</option>
                                <option>Node JS</option>
                                <option>React js</option>
                                <option>POWER BI</option>
                                <option>Tableau</option>
                            </select>
                        </div> -->
				    </div>
				            <div class="form-group" >
                            <button value="submit" class="btn btn-warning" onClick="raghu()">SUBMIT</button>

                            </div>
					    </form>
					</div>
			    </div>
			<div class="col-lg-1">

			</div>
		</div>
	</div>
</div>
</div>
<app-footer></app-footer>